<form class="form">
    <div class="from-group">
        <label for="titulo">Título</label>
        <input id="titulo" type="text" class="form-control">
    </div>
    <div class="from-group">
        <label for="descricao">Descrição</label>
        <textarea id="descricao" type="text" maxlength="1000" class="form-control"></textarea>
    </div>
    <div class="from-group">
        <label for="sessao">Sessão</label>
        <input id="sessao" type="datetime-local" class="form-control">
    </div>
    <div class="from-group">
        <label for="lotacao">Lotação</label>
        <input id="lotacao" type="number" class="form-control">
    </div>
    <div class="from-group">
        <label for="preco">Preço</label>
        <div class="input-group">
            <span class="input-group-text"> R$</span>
            <input id="preco" type="number" class="form-control">
        </div>
    </div>
    <div class="from-group">
        <label for="imgUrl">URL da Imagem</label>
        <input id="imgUrl" type="text" class="form-control">
    </div>
    <button class="btn btn-primary">Salvar</button>
</form>
