<div class="card cartao">
    <img [src]="evento.imgUrl" class="card-img-top banner" alt="Imagem do Evento">
    <div class="card-body">
        <h5 class="card-title"> {{ evento.titulo }}</h5>
        <p class="card-text"> {{ evento.descricao }} </p>
        <p class="card-text"> <b>{{ evento.preco | currency:'BRL':true}} </b></p>
        <!-- <p class="card-text"> {{ evento.sessao}} </p> -->
        <input type="checkbox" id="chk-sessao" (change)="true" #checkBox> <label class="card-text">&nbsp;  - {{ evento.sessao}}</label>
        
        
    </div>
    <div class="dif card-footer">
        <button *ngIf="checkBox.checked" 
        (click)="addCarrinho(evento)"
         class="btn btn-primary col-md-12"> Adicionar ao Carrinho</button>
        
    </div>
</div> 
